menu "Storage Configuration"

    config MOUNT_POINT
        string "Storage mount point"
        default "/decoder"
        help
            Mount point for project storage media

    choice STORAGE_BACKEND
        prompt "Storage backend"
        default STORAGE_FLASH
        help
            Use internal flash or SD for sound project storage

        config STORAGE_SD
            bool "Store files on SD"
            help
                Use SD for sound project.

        config STORAGE_FLASH
            bool "Store files in internal flash"
            help
                Use internal flash for sound project.
    endchoice
endmenu
